.addOrder {
  text-align: right;
}

.addOrder button {
  display: block;
  width: 100px;
  height: 70px;
  background: 0 0 no-repeat;
  background-color: rgb(50, 44, 85);
  text-align: center;
  border-color: white;
  color: white;
  line-height: 30px;
  border-radius: 20px;
}

.addOrder button:hover,
.addOrder button:active {
  border-color: white;
  background: no-repeat bottom;
  color: black;
}
