.shop-card {
  position: absolute;
  top: 80px;
  left: 110px;
  /* right: auto; */
  width: 400px;
  height: 500px;
  background-color: grey;
  color: black;
  z-index: 1000;
  -webkit-box-shadow: 7px 21px 13px 20px #383838;
  box-shadow: 7px 21px 13px 20px #383838;
  border-radius: 25px;
  overflow: auto;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  border-radius: 25px;
}
.shop-card-h1 {
  text-align: center;
  background-color: rgb(36, 124, 146);
  border-radius: 25px;
  width: 80%;
  margin: 70px auto;
}
.shop-card-footer {
  align-items: center;
  background-color: rgb(36, 124, 146);
  margin: 150px auto 10px auto;
  border-radius: 25px;
  width: 90%;
}
.h3 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
li {
  display: flex;
  /* text-align: center; */
  margin: 0 20px 20px 20px;
  font-weight: bold;
  justify-content: space-between;
}
